{% extends 'header.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Dog Classifier</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
    <body>
        <div class="classifier-container">
            <div class="file-droppable" id="fileDroppable">
                <div class="upload-space">
                    {% if img_obj %}
                        <img class="uploaded-image" src="data:image/jpeg;base64,{{ img_obj }}" alt="Uploaded Image";>
                    {% else %}
                        <h3 class="text-horizontal-center text-vertical-center">Drag an image here or use Browse to submit a photo</h3>
                    {% endif %}
                </div>
                <div class="form-over-image">
                    <form  method="post" enctype="multipart/form-data" id="uploadForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
            </div>
            {% if results %}
            <div class="results-container" id="results-container">
                <div class="results-toggle" onclick="toggleResults()">&#x25BA;</div>
                <div class="results-content">
                    <h3 class="text-center">Dog Classification Results</h3>
                    <ul class="result-list result-list-labels">
                        {% for label, _ in results %}
                            <li class="result-list-item">{{ label }}:</li>
                        {% endfor %}
                    </ul>
                    <ul class="result-list result-list-confidences">
                        {% for _, confidence in results %}
                            <li class="result-list-item">{{ confidence }}%</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if not feedback_submitted %}
                <div class="feedback-container" id="feedback-container">
                    <div class="feedback-header">Feedback</div>
                        <div class="feedback-body">
                            <p>Was the classification correct?</p>
                            <button onclick="submitFeedback(true)">Yes</button>
                            <button onclick="submitFeedback(false)">No</button>
                            <div id="correct-breed-form" style="display:none;">
                                <p>Please enter the correct breed:</p>
                                <input type="text" id="correct-breed-input">
                                <button onclick="submitCorrectBreed()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <script>

function submitFeedback(isCorrect) {
    if (isCorrect) {
        sendFeedback(isCorrect, null);
    } else {
        var correctBreedForm = document.getElementById('correct-breed-form');
        correctBreedForm.style.display = 'block';
    }
}

function submitCorrectBreed() {
    var correctBreedInput = document.getElementById('correct-breed-input');
    var correctBreed = correctBreedInput.value;
    if (correctBreed) {
        sendFeedback(false, correctBreed);
    } else {
        alert('Please enter the correct breed.');
    }
}

function sendFeedback(isCorrect, correctBreed) {
    var photoId = "{{ request.session.photo_id }}"
    var save_feedback = false;
    // First check if the form is about already saved photo or not
    if (photoId === "None") {
        save_feedback = askForConfirmation();
    } else
        save_feedback = true;
    // Then save the photo or do nothing if user does nota agree to using his data
    if (save_feedback) {
        var xml_http_req = new XMLHttpRequest();
        xml_http_req.open('POST', '/submit_feedback/', true);
        xml_http_req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xml_http_req.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        var data = JSON.stringify({ 'is_correct': isCorrect, 'correct_breed': correctBreed });
        xml_http_req.send(data);
    }
    var feedbackForm = document.getElementById('feedback-container');
    // assign feedback_subbmitted to true

    feedbackForm.style.display = 'none';
}

// Function to get CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    // JavaScript function to display confirmation popup
    function askForConfirmation() {
        if (confirm("Would you like for your data to be saved for potential improvment of the model?")) {
            alert("Data saved, thank you!")
            return true
        } else {
            // Send a request to the server to update the session variable
            var xml_http_req = new XMLHttpRequest();
            xml_http_req.open('POST', '/refuse_saving_of_data/', true);  // Specify the URL to update the session variable
            xml_http_req.setRequestHeader('Content-Type', 'application/json');
            xml_http_req.onreadystatechange = function () {
                if (xml_http_req.readyState === XMLHttpRequest.DONE) {
                    if (xml_http_req.status === 200) {
                        console.log("feedback_submitted session variable updated successfully");
                    } else {
                        // Error handling
                        console.error("Error updating session variable");
                    }
                }
            };
            // Send the request with the data you want to update the session variable with
            xml_http_req.send(JSON.stringify({key: 'feedback_submitted', value: true}));

            return false;
        }
    }
    </script>
    <!-- For handling image uploads -->
    <script src="{% static 'image_upload.js' %}"></script>
    <!-- For hiding the results list on the right side of the screen -->
    <script src="{% static 'results_list.js' %}"></script>
    </body>
</html>
{% endblock %}