{% extends 'header.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Dog Classifier</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
    <body>
        <!-- <div class="classifier"> -->
        <div class="classifier-container">
            <div class="file-droppable" id="fileDroppable">
                <div class="upload-space">
                    {% if img_obj %}
                        <img class="uploaded-image" src="data:image/jpeg;base64,{{ img_obj }}" alt="Uploaded Image";>
                    {% else %}
                        <h3 class="text-horizontal-center text-vertical-center">Drag an image here or use Browse to submit a photo</h3>
                    {% endif %}
                </div>
                <div class="form-over-image">
                    <form  method="post" enctype="multipart/form-data" id="uploadForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
            </div>
            <!-- Conditional code for result list -->
            {% if results %}
                <div class="results-container" id="results-container">
                <div class="results-toggle" onclick="toggleResults()">&#x25BA;</div>
                <div class="results-content">
                    <h3 class="text-center">Dog Classification Results</h3>
                    <ul class="result-list result-list-labels">
                        {% for label, _ in results %}
                            <li class="result-list-item">{{ label }}:</li>
                        {% endfor %}
                    </ul>
                    <ul class="result-list result-list-confidences">
                        {% for _, confidence in results %}
                            <li class="result-list-item">{{ confidence }}%</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if not feedback_submitted %}
                <div class="feedback-container" id="feedback-container">
                    <div class="feedback-header">Feedback</div>
                        <div class="feedback-body">
                            <p>Was the classification correct?</p>
                            <button onclick="submitFeedback(true)">Yes</button>
                            <button onclick="submitFeedback(false)">No</button>
                            <div id="correct-breed-form" style="display:none;">
                                <p>Please enter the correct breed:</p>
                                <input type="text" id="correct-breed-input">
                                <button onclick="submitCorrectBreed()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="example-container">
        <h1>No dog photos on hand? Try out some examples.</h1>
        <p>Simply click one of the example photos and see how the service works!</p>
        <div class="photos-container">
            <img class="photos-container-photo" src="{% static 'dummy_images/dummy_dog1.jpg' %}" onclick="loadExamplePhoto(this)" alt="Example image 1 - small brown dog">
            <img class="photos-container-photo" src="{% static 'dummy_images/dummy_dog2.jpg' %}" onclick="loadExamplePhoto(this)" alt="Example image 2 - Dog laying in a tunnel">
            <img class="photos-container-photo" src="{% static 'dummy_images/dummy_dog3.jpg' %}" onclick="loadExamplePhoto(this)" alt="Example image 3 - Chihuahua with a stick">
        </div>
    </div>
    <!-- For handling feedback form -->
    <script> 
        var photoId = "{{ request.session.photo_id }}" 
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'feedback.js' %}"></script>
    <!-- For handling image uploads -->
    <script src="{% static 'image_upload.js' %}"></script>
    <!-- For hiding the results list on the right side of the screen -->
    <script src="{% static 'results_list.js' %}"></script>
    </body>
</html>
{% endblock %}