{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>{{ page_title }}</title>
</head>
<body>
    <header>
        <h1>{{ page_title }}</h1>
        <nav>
            <ul>
                <li><a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="/dog/" class="nav-link {% if request.path == '/dog/' %}active{% endif %}">Dog Classifier</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
