{% extends 'header.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">

		<div class="text-center">
			<h1>Welcom to Dog Identification Service!</h1>
		</div>

		<h2>What is this website?</h2>
		Dog Identification Service is an example project that uses django and trained pytorch model to allo0w the user to identify the dog in an image. The image can be uploaded by the user and the model will identify the dog in the image.

		<h2>How to use this web service?</h2>
		The detailed instructions can be found in <a href="/about/">About</a> subpage

		<h2>About the model</h2>
		<p class="infobox">
			The model used for the app has been trained on the <a href="http://vision.stanford.edu/aditya86/ImageNetDogs/">Stanford Dog Dataset</a> which is a collection of 20580 images of different dogs of 120 breeds. 
			<br>
			<br>
			The model bases on residual network <a href="https://arxiv.org/abs/1512.03385">ResNet152</a> architecture. 
			<br>
			<br>
			The model was trained PyTorch package for Python using transfer learning approach 
			basing on the resnet model trained on image net while training layer3 and layer 4 of the networks with different learning rates.
		</p>
	</div>
</body>
</html>
{% endblock %}