body {
	font-family: 'Roboto', sans-serif;
	font-display: fallback;
	background: url('cloud_bg.svg');
	background-size: cover;
	margin: 0%;
	background-position: center;
 }

#content {
	position: absolute;
	width: 100%;
	height: 85%;
	margin-top: 8%;
	margin-bottom: 0px;
}

.text-content {
	max-width: 70%;
	min-width: none;
	margin: auto;
	margin-bottom: 5%;
} 

/* Navbar */

header {
	position: fixed;
	background-color: #333;
	color: #fff;
	margin: 0%;
	padding: 15px;
	width: 100%;
	min-height: 30px;
	height: 6%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 621;
}

nav {
	float: right;
	margin: 2%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
}

nav ul li a:hover {
	background-color: #555;
	border-color: #fff;
}

nav ul li a.active {
	border-color: #fff;
}

.logo {
	height: 100%;
	width: auto;
}

.title {
	display: flex;
	align-items: center;
	height: 100%;
	float: left;
}

/* Universal styles */

h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0px;
	margin: 8px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 4px;
}

h3 {
	font-size: 20px;
	margin-bottom: 0px;
}

em {
	font-weight: 600;
	font-style: normal;
}

.infobox {
	font-size: 14px;
	color: #1967D2;
	font-weight: 600;
	padding: 16px 24px 16px 40px;
	background: url('lightbulb_icon.svg') #E8F0FE ;
	background-position: 16px 16px;
	background-repeat: no-repeat;
	line-height: 1.6;
}

.text-center {
	text-align: center;
}

/* itembox */

.item-box {
	display: flex;
	flex-wrap: wrap;
}

.item-box-el {
	flex: 1 1 1;
	font-size: smaller;
	background-color: rgba(60, 20, 134, 0.6);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}


.training_plots {
	height: 350px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.classifier-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
}


/* results container styles */

.results-container {
	z-index: 3;
	background-color: rgba(10, 10, 10, 0.6);
	/* display: flex; */
    flex-direction: column;
	position: absolute;
	top: 20%;
	right: 0%;
	width: 21em;
	max-width: 35%;
	max-height: 80%;
	padding: 1.5%;
	overflow: hidden;
	transition: right 0.3s ease;
}

.result-list {
	margin-left: 0;
	padding-left: 0;
	float: left;
	list-style-type: none;
	line-height: 2em;
    animation: fadeIn 1.5s ease 0s forwards;
}

.result-list-labels {
	width: 85%;
	float: left;
}

.result-list-confidences {
	width: 15%;
	float: right;
}

.result-list-item {
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.results-content {
	padding: 0;
	float: right;
	width: 85%;
}

.results-toggle {
	width: 15%;
	height: 100%;
	float: left;
    position: relative;
    top: 10%;
    /* right: 10px; */
    font-size: 24px;
    cursor: pointer;
    z-index: 4;
	transition: transform 0.3s ease;
}

/* Droppable files zone styles */

.file-droppable {
	position: relative; /* Set position relative to contain absolutely positioned elements */
	overflow: hidden;
    height: 100%;
	width: 95%;
	border: rgba(72, 103, 255, 0.8) 3px dashed;
}

.form-over-image {
    position: absolute;
	width: 100%;
    top: 0;
    left: 0;
    z-index: 2; /* Ensure the form is on top of the image */
    background-color: rgba(11, 10, 10, 0.3);
	padding-left: 10px;
}

.upload-space {
	z-index: 1;
	position: absolute; /* Position absolutely relative to parent */
	width: 100%;
    height: 100%;
	background-color: rgba(33, 32, 67, 0.5);
	/* Center vertically and horizontally */
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	/* Center vertically and horizontally (for text) */
	display: flex;
	align-items: center;
	justify-content: center

}

.uploaded-image {
	object-fit: contain;
	max-width: 100%;
	width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cta a:hover {
    background-color: rgb(66, 133, 244, 0.9);
}

@media (max-width: 600px) {
    .hero .logo {
        float: initial;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

	.container {
        margin-top: 0;
	}
}
@media (prefers-color-scheme: dark) {
    body {
        background: black url('dark_bg.svg');
        color:white;
    }
	a {
		color: #8AB4F8;
	}
	a:visited {
		color: #b48af8;
	}
	.cta a {
		color: white;
	}
}

